page-mover-apply {

     .mover-apply-header{
        font-weight : bold !important;
        font-size : 20px !important;
        text-align: center;
        background-color : black !important;
    }

    .mover-apply-font_black{
        color:black !important;
    }

    .mover-apply-next{
        font-weight : bold;
    }

}
