

.header_category{
    line-height: 60px;
    background-color: darkviolet;
    color: white;
    font-weight: bold;
    text-align: center;
}

.list_category {
    padding-left: 0px;
    padding-right: 0px;
    
    }

.item_name_category{padding-left: 10px;float: left; width: 33%; margin-bottom: 0px;}
.icon_category{float: left; width: 66%; text-align: right; padding-right:10px; margin-bottom: 0px; }

.item1_category { text-align: left; font-weight: bold; padding-left:0px;margin-bottom: 0px;line-height: 80px;clear:both;}
.item_top_category{text-align: left; font-weight: bold; background:white;border:1px solid #bbb; padding-left:0px;margin-bottom: 0px;height: 80px;clear:both;margin: 0px}
.item_category{font-weight: normal;width:100%; height:auto; background:#ccc;border:1px solid #bbb;padding-left: 30px;}




