page-invite {
    .invite_notice{
        height:180px;
        text-align: center;
        background-color:white;
        padding:30px;
    }
    .invite_entire{
        background-color:#f0ffff;
    }
    .invite_gift{
        height:50px;
        width:50px;
    }
    .invite_content{
        margin-top:20px;
    }
    .invite_list{
        background-color:#f0ffff;
    }
}
