<!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf='userReady'>
  <ion-item>
    <p class="font_black">Full Name: {{user.name}} </p>
  </ion-item>
  <ion-item>
    <ion-label class="font_black">Gender: {{user.gender}} </ion-label><br>
  </ion-item>
  <ion-item>
    <ion-label>Profile picture:</ion-label>
  </ion-item>
  <ion-item>
    <img [src]="user.picture">
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="doFbLogout()">Logout</button>
    </ion-col>
  </ion-row>
</ion-content>
-->
<ion-content *ngIf='userReady' padding>
  <br>
  <ion-grid>
   <ion-row>
     <ion-col width-25>
      <ion-avatar  *ngIf='userReady'>
        <img class='profile_pic' [src]="user.picture">
      </ion-avatar> 
     </ion-col>
     <ion-col width-75>
      <h1>{{user.name}}</h1>
      <p>&nbsp;&nbsp; 프로필 수정dm</p>
     </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list>
    <ion-item (click)="openPage(invite)">
    <br>
     <ion-icon name="person-add" item-left></ion-icon>
     <h1 class="font_black">친구 초대하기</h1>
     <br>
    </ion-item>
    <ion-item (click)="openPage(settings)">
    <br>
     <ion-icon name="settings" item-left></ion-icon>
     <h1 class="font_black">환경설정</h1>
    <br>
    </ion-item>
    <ion-item (click)="openPage(mover)">
    <br>
     <ion-icon name="plane" item-left></ion-icon>
     <h1 class="font_black">여행지 등록</h1>
    <br>
    </ion-item>
    <ion-item (click)="openPage(helper)">
    <br>
     <ion-icon name="help" item-left></ion-icon>
     <h1 class="font_black">도움말과 지원</h1>
    <br>
    </ion-item>
    <ion-item (click)="openPage(feedback)">
    <br>
     <ion-icon name="mail" item-left></ion-icon>
     <h1 class="font_black">피드백 남기기</h1>
    <br>
    </ion-item>
  </ion-list>
</ion-content>
