page-receiver-detail {

    ion-card-header h2{
        text-align: center !important;
    }

    ion-item p{
        text-align: center !important;
    }

    .receiver-detail-map{
        display: inline;
    }

}
