page-receiver-place{
/*
$item-ios-detail-push-show : true;

$alert-ios-message-text-align : center;
$alert-md-head-text-align : center;
*/

.receiver-place-header{
    font-weight : bold !important;
    font-size : 20px !important;
    text-align: center;
    background-color : black !important;
    //color : white !important;
}


.font_black{
    color:black !important;
}


.next{
    font-weight : bold;
}

.selectPlace{
    text-align : center;
}

//test

.isClick{
    background-color: blue;
}


button.active { background-color: blue; }

}