
page-receiver-place{

    div > button.active { 
        background-color:blue; 
        color:white 
    }

    .receiver-place_header{
        font-weight : bold !important;
        font-size : 20px !important;
        text-align: center;
        background-color : black !important;
        //color : white !important;
    }


    .font_black{
        color:black !important;
    }


    .recever-place_next{
        font-weight : bold;
    }

}