<ion-content>

<ion-label color="primary"><h4 class="content_center font_black">장소를 선택해주세요</h4></ion-label>

 <ion-item-group>
    <div *ngFor="let country of countries ">
       {{country2(country.name)}}
      <ion-item-divider color="light"><p class="content_left font_black">{{ country.name }} </p></ion-item-divider>
      <div *ngFor="let city of cities">
      <ion-item (click)="select(country.name, city.name)"><p class="content_left font_black">{{ city.name }}</p></ion-item>
    </div>    
    </div>
 </ion-item-group>

</ion-content>

<ion-footer>
<!--다음 버튼-->
  <button class=".font_black" ion-button full class="recever-place_next" medium color="light" (click)="dismiss()">확인</button>
</ion-footer>
