page-chat-room {

    //Header
    .chat-room_header{
    }

    //Content
    .chat-room_content{
        margin-top: 0px;
        border: 0px;
        background-color: lightskyblue;
    }
    
    //Angular2AutoScroll를 이용하여 AutoScroll 적용
    .chat-room_messages{
        overflow-y: auto;
        height: 100%;
    }

    .chat-room_my-message > button{
        background-color: yellow !important;
        color : black;
    }

    .chat-room_opponent-message > button{
        background-color: white !important;
        color : black;
    }

    //Footer
    .chat-room_footer{
        height: 10%;
    }
    
    .chat-room_footer-row{
        background-color: white;
    }

    .chat-room_footer-navbar{
        padding:0px;
    }

    .chat-room_footerButton{
        background-color: #fff;
    }

    .chat-room_textarea{
        margin: 5px;
        background-color: white;
    }

    .chat-room_textarea > textarea {
       
    }
    
    .chat-room_width{
        padding: 0px;
    }

    .chat-room_sendButton{
      margin-top: 5px;
      margin-left: 0px;
    }
}