page-chat-room {

    //Header
    .chat-room_header{
    }

    //Content
    .chat-room_content{
        margin-top: 0px;
        border: 0px;
        background-color: lightskyblue;

        height:100%;
        overflow:scroll;
    }

    .chat-room_messages{
    }

    .chat-room_my-message > button{
        background-color: yellow !important;
        text-align: left;
        color: black;
        
        width: auto;
        height: auto;

        max-width: 70%;

        white-space: normal;
        word-break: break-all;
        line-height: 150%;
    }

    .chat-room_opponent-message > button{
        background-color: white !important;
        text-align: left;
        color: black;
        
        width: auto;
        height: auto;

        max-width: 70%;

        white-space: normal;
        word-break: break-all;
        line-height: 150%;
    }

    //Footer
    .chat-room_footer{
        height: 10%;
    }
    
    .chat-room_footer-row{
        background-color: white;
    }

    .chat-room_footer-navbar{
        padding:0px;
    }

    .chat-room_footerButton{
        background-color: #fff;
    }

    .chat-room_textarea{
        margin: 5px;
        background-color: white;
    }

    
    .chat-room_width{
        padding: 0px;
    }

    .chat-room_sendButton{
        width: 80%;
        height: 70%
    }
}