page-upper-tabs {
        .cal-button{
            color:lightgrey;
            background-color: rgba(0, 0, 0, 0.2);
            padding:10px;
           
            margin: 0px 4px 4px 4px;
        }
        .dep-button{
            color:lightgrey;
            background-color: rgba(0, 0, 0, 0.2);
            padding:10px;
            margin:4px;
        }
        .home_slide{
            height: 150px;
            background-color: lightgrey;
        }
        .home_pic{
            height:40%;
            width: 40%;
        }
        .tab_back{
            padding-top:4px;
            background-color: #387EF5;
        }
}
