
<ion-content>
     <ion-navbar [color]="isAndroid ? 'danger' : 'primary'">
          <ion-searchbar  *ngIf="search_click=='close'" (click)="search_click='open'" showCancelButton placeholder="어디로 가시나요?" value="{{date|date}} {{select_city}} {{select_country}}"></ion-searchbar>
          <div *ngIf="search_click=='open'" (click)="search_click='close'" class="font_black content_center" ><ion-icon name="ios-arrow-up"></ion-icon></div>
     </ion-navbar>    
          <div class="tab_back"  [@Title]="search_click"  [@SlidMenu]="search_click">
          <div *ngIf="search_click=='open'" (click)="showCalendar()" class="cal-button"><ion-icon item-left large name="md-calendar"></ion-icon>날짜</div>  
          <div *ngIf="search_click=='open'" (click)="openModal(place)" class="dep-button"><ion-icon item-left name="md-globe"></ion-icon>도착지</div>
          </div>
    <ion-slides pager autoplay="3000" loop class="home_slide">
        <ion-slide>
            <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 3</h1>
        </ion-slide>
    </ion-slides>
<!--Database에서 물품 정보 가져옴-->
    <div *ngFor="let item of data">
    <ion-card padding (click)="goDetailPage(item._id)">
        <div>
        <ion-item>
            <ion-icon name="ios-navigate" item-left large></ion-icon>
            <h2 class="font_black">{{item.selected_Country}},{{item.selected_City}}</h2>
            <p>{{item.selected_Landmark}}</p>
        </ion-item>

        <ion-item>
            <span item-left>Due:{{item.selected_Date|date:'20yy/MM/dd'}}</span>
            <button ion-button icon-left clear item-right>

            <ion-icon large name="arrow-round-forward"></ion-icon>
            </button>
        </ion-item>
        </div>
    </ion-card>
    </div>
</ion-content>