page-mover-apply {

     .mover_header{
        font-weight : bold !important;
        font-size : 20px !important;
        text-align: center;
        background-color : black !important;
    }

    .font_black{
        color:black !important;
    }

    .mover_next{
        font-weight : bold;
    }

}
