<ion-header>
  <ion-navbar>
    <ion-title>waiter-detail</ion-title>
  </ion-navbar>

  <div padding>
    <ion-segment [(ngModel)]="info_Type">
      <ion-segment-button value="profile">
        프로필
      </ion-segment-button>
      <ion-segment-button value="delivery_List">
        물품 정보
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="info_Type">
<!--프로필 todo: DB와 연결-->
    <div *ngSwitchCase="'profile'">
      <div class="font_black">
        <ion-item>
          <ion-avatar>
            <div align="center">
            <img src="http://cfile8.uf.tistory.com/image/2704BD4457193CBD027B3F">
            </div>
          </ion-avatar>
          <p>Twice_Sana</p>
          <p>Twice_Sana@gmail.com</p>  
          <p>가입일 : 2017.02.14</p>
        </ion-item>
        <ion-item>
          <p>안녕하세요!</p>
          <p>반갑습니다!</p>
        </ion-item>
      </div>
    </div>

<!--물품 정보 todo: DB와 연결-->
<div *ngSwitchCase="'delivery_List'">
  <div>  <!-- todo : *ngFor="let detail of item" -->
  <ion-card>
      <ion-card-header>
      <ion-row>
        <ion-col width-30><h2>상품명 :</h2></ion-col>
        <ion-col width-70><h2>{{detail.selected_Object_name}}</h2></ion-col>
      </ion-row>
      </ion-card-header>
    <ion-item>
     <img item-left class="home_pic" [src]=detail.selected_Picture *ngIf=detail.selected_Picture />
    </ion-item>
    <ion-card-content>
<!--물품 설명 리스트-->
      <ion-list>
<!--링크-->
        <ion-item>
          <ion-row>
            <ion-col width-10><p>링크 :</p></ion-col>
            <ion-col width-90><p>{{detail.selected_Url}}</p></ion-col>
          </ion-row>
        </ion-item>
<!--구매 가격-->
         <ion-item>
          <ion-row>
            <ion-col width-10><p>구매 가격 :</p></ion-col>
            <ion-col width-90><p>{{detail.selected_Price | currency:'KRW':true}}</p></ion-col>
          </ion-row>
        </ion-item>
<!-- 수익금 -->
         <ion-item>
          <ion-row>
            <ion-col width-10><p>여행자 수익금 :</p></ion-col>
            <ion-col width-90><p>{{detail.selected_Delivery_charge | currency:'KRW':true}}</p></ion-col>
          </ion-row>
        </ion-item>
    </ion-list>

    </ion-card-content>
  </ion-card>

<br><br>
<!-- 리시버 물품 요약 정보-->
 <ion-item-group>
    <ion-item-divider color="primary">물품 정보 요약</ion-item-divider>
<!--총 구매 가격-->
        <ion-item>
          <ion-row>
            <!--todo : 구매 가격 합산해서 넣기 -->
            <ion-col width-10><p>총 구매 가격 :</p></ion-col>
            <ion-col width-90><p>{{detail.selected_Price | currency:'KRW':true}}</p></ion-col>
          </ion-row>
        </ion-item>
<!-- 기한 날짜 -->
        <ion-item>
          <ion-row>
            <ion-col width-10><p>기한 날짜 :</p></ion-col>
            <ion-col width-90><p>{{detail.selected_Date|date:'20yy/MM/dd'}}</p></ion-col>
          </ion-row>
        </ion-item>
<!--배달 장소-->
        <ion-item>
          <ion-row>
            <ion-col width-10><p>배달 장소 :</p></ion-col>
            <ion-col width-90>
              <p>{{detail.selected_Country}},{{detail.selected_City}},{{detail.selected_Landmark}}</p>
            </ion-col>
          </ion-row>
           <ion-icon name="pin" item-right (click)="showMap()"></ion-icon>
        </ion-item>
     </ion-item-group>
    </div>
  </div> <!-- ngSwitchCase==delivery_List 일 때 -->
</div> <!-- ngSwitch 용-->
</ion-content>
